<div class="main-panel">
  <form [formGroup]='form' (ngSubmit)="submit()">
    <h2 class="text-center">Login to your account</h2>

    <div [ngClass]="{invalid:form.get('email')?.touched && form.get('email')?.invalid}" class="form-control">

      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Email" formControlName='email'>
      <div class="errors">
        <small>
          Enter any Email
        </small>
      </div>
    </div>

    <div [ngClass]="{invalid:form.get('password')?.touched && form.get('password')?.invalid}" class="form-control">

      <label for="password">Password</label>
      <input id='password' type="password" placeholder="Password" formControlName='password'>
      <div class="errors">
        <small>
          Enter any Email
        </small>
      </div>
    </div>


    <button class="btn" [disabled]='form.invalid' type="submit">Submit</button>
  </form>
</div>
