<div class="main-panel">
  <div class="card-wish_products">
    <div class="card-wish_products__product" *ngFor="let product of cardService.cardItem">

      <img class="card-wish_products__product___picture" src={{product.pictureUrl}}>

      <div class="card-wish_products__product___info">
        <h2>{{product.phoneName}} <span>{{product.memory}}GB</span></h2>
        <span>({{product.phoneColor}})</span>
        <p>
          <span>{{product.phonePriceUsd | currency : 'USD':'symbol':'3.0'}}</span>
          {{ product.phonePriceUsd*28}} Грн
        </p>
      </div>

      <div class="card-wish_products__product___buttons">

        <div class="card-wish_products__product___buttons___circle-button">
          <button (click)="cardService.deleteOneProductToCard(product)" class="circle-button">
            <span>-</span>
          </button>

          <span> {{product.numberOfProducts}}</span>

          <button (click)="cardService.addOneProductToCard(product)" class="circle-button">
            <span>+</span>
          </button>

        </div>

        <div class="card-wish_products__product___buttons___delete-add-button">
          <button title="Delete product" class=" btn delete-product-button "
            (click)="cardService.deleteInCard(product)">
            <img src="assets/img/ico/delete.png">
          </button>


        </div>
      </div>
    </div>
  </div>

  <button (click)="cardService.clearCardList()" class="btn wish-list_button">Clear Wish List</button>

</div>
