<div class="top-bar">

  <div class="top-bar_tittle">
    <a routerLink="/">
      <h1><span>Your</span> Store </h1>
    </a>
  </div>
  <a routerLink="/admin">
    <h2>Admin</h2>
  </a>
  <div class="top-bar_icons">

    <div class="top-bar_element" *ngIf="auth.isAuthenticated()">
      <a [routerLink]="['/admin', 'product-list']"><img src="assets/img/ico/list.png" alt=""></a>
      <small>Product-list</small>
    </div>

    <div class="top-bar_element" *ngIf="auth.isAuthenticated()">

      <a [routerLink]="['/admin', 'create']"><img src="assets/img/ico/add.png" alt=""></a>
      <small>Create</small>
    </div>

    <div class="top-bar_element" *ngIf="auth.isAuthenticated()">

      <a [routerLink]="['/admin', 'orders']"><img src="assets/img/ico/card.png" alt=""></a>
      <small>Orders</small>
    </div>

    <div class="top-bar_element">

      <a title="My Cart"><img src="assets/img/ico/logout.png" (click)="exit()"></a>
      <small>Exit</small>
    </div>
  </div>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
