<div class="main-panel">

  <img src={{product.pictureUrl}}>
  <div class="info-about-product">
    <h2>{{product.phoneName}} <span>{{product.memory}}GB</span></h2>
    <span>({{product.phoneColor}})</span>
    <p><span>{{product.phonePriceUsd | currency : 'USD':'symbol':'3.0'}}</span>
      {{ product.phonePriceUsd*28}} Грн</p>
    <div class="buttons">
      <button (click)="cardWishService.addOneProductToCard(product)" class="btn">Add to cart</button>
      <button (click)="cardWishService.addOneProductToWish(product)" class="btn btn_another_prop">Add to
        favorites</button>
    </div>
  </div>
</div>
