.main-panel {
  justify-content: space-evenly;

  & .info-about-product {
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      font-size: 28px;
      font-weight: bold;
      text-align: center;

    }

    >span {
      text-align: center;
      font-size: 20px;
    }

    p {
      font-size: 24px;
      text-align: center;

      span {
        padding: 0 0 0 6rem;
      }
    }

    .buttons {
      margin-top: 5rem;
      display: flex;
      width: 300px;
      justify-content: space-between;

      & :first-child {
        background: #c42a2c;

        &:hover {
          background: #811b1d;
        }

        &:active {
          border: 2px solid #e02e31;
        }
      }

      & :last-child {
        background: #215bb1;

        &:hover {
          background: #153b74;
        }

        &:active {
          border: 2px solid #2a7df8;
        }
      }
    }
  }
}
