<div class="main-panel">
  <form class="create-form" [formGroup]="form" (ngSubmit)="submit()">


    <div>
      <img *ngIf="testPicture;else pictureEmpty" src="{{testPicture}}">
      <ng-template #pictureEmpty>
        <div class="pictureEmpty">
          <p>No image</p>
        </div>
      </ng-template>

      <div [ngClass]="{invalid:form.get('pictureUrl')?.touched && form.get('pictureUrl')?.invalid}"
        class=" form-control">
        <label for="pictureUrl">Picture Url</label>
        <input id="pictureUrl" type="url" formControlName="pictureUrl" placeholder="example.com/img.png">

        <div class="errors" *ngIf="form.get('pictureUrl')?.invalid && form.get('pictureUrl')?.touched">
          <small *ngIf="form.get('pictureUrl')?.errors?.required">
            Field cannot be empty
          </small>
        </div>
      </div>
      <button type="button" class="btn" (click)="testImg()" [disabled]="form.get('pictureUrl')?.invalid">Test
        picture</button>
    </div>

    <div class="">
      <div [ngClass]="{invalid:form.get('phoneName')?.touched && form.get('phoneName')?.invalid}" class="form-control">
        <label for="phoneName">Phone Name</label>
        <input id="phoneName" type="text" formControlName="phoneName" placeholder="Enter phone name">

        <div class="errors" *ngIf="form.get('phoneName')?.invalid && form.get('phoneName')?.touched">
          <small *ngIf="form.get('phoneName')?.errors?.required">
            Field cannot be empty
          </small>
        </div>
      </div>

      <div [ngClass]="{invalid:form.get('memory')?.touched && form.get('memory')?.invalid}" class="form-control">
        <label for="memory">Memory</label>
        <select id="memory" type="number" formControlName="memory">
          <option value="32">32</option>
          <option value="64">64</option>
          <option value="128">128</option>
          <option value="256">256</option>
          <option value="512">512</option>
          <option value="1024">1024</option>
        </select>

        <div class="errors" *ngIf="form.get('memory')?.invalid && form.get('memory')?.touched">
          <small *ngIf="form.get('memory')?.errors?.required">
            Field cannot be empty
          </small>
        </div>
      </div>

      <div [ngClass]="{invalid:form.get('phoneColor')?.touched && form.get('phoneColor')?.invalid}"
        class="form-control">
        <label for="phoneColor">Color</label>
        <input id="phoneColor" type="text" formControlName="phoneColor" placeholder="Enter phone color">

        <div class="errors" *ngIf="form.get('phoneColor')?.invalid && form.get('phoneColor')?.touched">
          <small *ngIf="form.get('phoneColor')?.errors?.required">
            Field cannot be empty
          </small>
        </div>
      </div>

      <div [ngClass]="{invalid:form.get('phonePriceUsd')?.touched && form.get('phonePriceUsd')?.invalid}"
        class="form-control">
        <label for="phonePriceUsd">Price</label>
        <input id="phonePriceUsd" type="text" formControlName="phonePriceUsd" placeholder="Enter price in USD">

        <div class="errors" *ngIf="form.get('phonePriceUsd')?.invalid && form.get('phonePriceUsd')?.touched">
          <small *ngIf="form.get('phonePriceUsd')?.errors?.required">
            Field cannot be empty
          </small>
          <small *ngIf="form.get('phonePriceUsd')?.errors?.isNotInteger">
            Enter only numbers
          </small>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid" class="btn">Create</button>
    </div>
  </form>
</div>
