.wish-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &>h2 {
    font-size: 35px;
  }

  margin: 1rem auto;
}

.under-top-panel {
  padding: 1rem;
  margin: 90px auto 0 auto;
  width: 80%;
  min-height: 50px;
  background-color: var(--first-color);

  &>.reset-btn {
    width: 120px;
  }
}

.main-panel {
  margin: 0 auto;
}
