<div class="main-panel">
  <div class="wish-list_products">
    <div class="wish-list_products__product" *ngFor="let product of wishService.wishItem">

      <img class="productPicture" src={{product.pictureUrl}}>

      <div class="info-about-product">
        <h2>{{product.phoneName}} <span>{{product.memory}}GB</span></h2>
        <span>({{product.phoneColor}})</span>
        <p>
          <span>{{product.phonePriceUsd | currency : 'USD':'symbol':'3.0'}}</span>
          {{ product.phonePriceUsd*28}} Грн
        </p>
      </div>

      <div class="wish-list_products__product___buttons">

        <div class="wish-list_products__product___buttons___circle-button">
          <button class="circle-button">
            <span>-</span>
          </button>

          <span>1</span>
          <button class="circle-button">
            <span>+</span>
          </button>
        </div>

        <div class="wish-list_products__product___buttons___delete-add-button">
          <button title="Delete product" class=" btn delete-product-button ">
            <img src="assets/img/ico/delete.png">
          </button>

          <button class="add-to-card-button btn" title="Add to Card">
            Add to Card
          </button>
        </div>





      </div>
    </div>
  </div>
  <button (click)="wishService.clearProductInWish()" class="btn wish-list_button">Clear Wish List</button>
</div>
