.counter {
  background-color: #fff;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  color: #000;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  font-weight: bold;

  &>p {
    transform: translateY(-2px);
  }
}

.top-bar_element_search {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;

  & input {
    border-radius: .5rem;
    height: 2rem;
    padding: 0 0 0 .5rem;
    width: 150px;
    font-weight: 900;
    font-size: 1.2rem;
  }

  .icon_search {
    left: 0;
  }
}

input[type='search'],
select,
textarea {
  &.ng-touched.ng-valid {
    outline: none;
    box-shadow: none;
  }

  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
