<div class="top-bar">

  <div class="top-bar_tittle">
    <a routerLink="/">
      <h1><span>Your</span> Store</h1>

    </a>

  </div>

  <div class="top-bar_icons ">

    <div class="top-bar_element_search" [@search]='searchState'>
      <div class="top-bar_element icon_search" (click)="animate()">
        <img src="assets/img/ico/search.png" alt="">
        <small>Search</small>
      </div>


      <input list="post" type="search" [(ngModel)]='searchProductStr'>
      <datalist id="post">
        <option *ngFor="let p of productService.product |filterChecks: 'phoneName'" [value]="p"></option>
      </datalist>

    </div>

    <div class="top-bar_element " routerLinkActive="active-route">

      <a routerLink="/wish-list" title="My wish list"><img src="assets/img/ico/wishlist.png" alt=""></a>
      <div [@shake]='searchService.wishState' class="counter">
        <p>{{cartFavoriteService.numberOfFavorites}}</p>
      </div>
      <small>Wish list</small>
    </div>
    <div class="top-bar_element" routerLinkActive="active-route">

      <a routerLink='/cart' title="My Cart"><img src="assets/img/ico/card.png" alt=""></a>
      <div [@shake]='searchService.cartState' class="counter">
        <p>{{cartFavoriteService.numberOfCart}}</p>
      </div>
      <small>My Cart</small>
    </div>
    <div class="top-bar_element">
      <label class="theme-switch" id="theme-switch">
        <input type="checkbox" checked class="my-check">
        <span (click)="darkTheme($event)" class="theme-slider theme-round"></span>
      </label>

    </div>


  </div>
</div>
<div class="main-container">

  <router-outlet></router-outlet>
  <div class="main-footer">
    <div class="main-footer_logo">
      <a href="#">
        <h3><span>Your</span> Store</h3>
      </a>
    </div>

    <div class="main-footer_communication">
      <strong>For communication and questions</strong>
      <a href="mailto:tarashevchuk@gmail.com">tarashevchuk@gmail.com</a>
      <a href="tel:380976064961">380(97)606-4961</a>
      <p>of 09:00 am to 11:00 pm</p>
    </div>

    <div class="main-footer_social-network">
      <strong>Social networks</strong>
      <div class="main-footer_social-buttons">
        <div class="social-circle main-footer_social-network_facebook">
          <div class="img"><img src="assets/img/social-ico/facebook.png" alt=""></div>
          <a href="https://www.facebook.com/profile.php?id=100002003441140" target="_blank" class="text">Facebook</a>
        </div>
        <div class="social-circle main-footer_social-network_instagram">
          <div class="img"><img src="assets/img/social-ico/instagram.png" alt=""></div>
          <a href="https://www.instagram.com/shevchenko___t/" target="_blank" class="text">Instagram</a>
        </div>
        <div class="social-circle main-footer_social-network_github">
          <div class="img"><img src="assets/img/social-ico/git-hub.png" alt=""></div>
          <a href="https://github.com/ShevchenkoT" target="_blank" class="text">Git Hub</a>
        </div>
        <div class="social-circle main-footer_social-network_linkedin">
          <div class="img"><img src="assets/img/social-ico/linkin.png" alt=""></div>
          <a href="https://www.linkedin.com/in/taras-shevchyk-ab5002217/" target="_blank" class="text">Linkedin</a>
        </div>
      </div>

    </div>
  </div>

</div>
