.location-btn {
  margin-top: .5rem;
}

.card-fom_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.main-panel {
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}


.list-empty {
  width: 280px;
  margin: 6rem auto;
  text-align: center;
}
