.main-products {
  background-color: rgba($color: #550f0fbd, $alpha: 0.2);
  width: 80%;
  margin: 0 auto;

  border: 2px outset rgba($color: #550f0fbd, $alpha: 0.2);
  display: flex;
  padding: 3rem;
  justify-content: space-between;

  & .main-products_search {
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 22%;
  }

  & .main-products_list {
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0.5rem;
    & .main-products_list__product {
      background-color: #000;
      margin: 1rem 0.5rem;
      width: 250px;
      height: 400px;
    }
  }

}
