<div class="main-products">
  <div class="main-products_search">

  </div>
  <div class="main-products_list">
    <div class="main-products_list__product"></div>
    <div class="main-products_list__product"></div>
    <div class="main-products_list__product"></div>
    <div class="main-products_list__product"></div>
    <div class="main-products_list__product"></div>
    <div class="main-products_list__product"></div>
    <div class="main-products_list__product"></div>
    <div class="main-products_list__product"></div>
  </div>
</div>
