p {
  &.product-error {
    color: red;
    font-size: 50px;
  }
}

.prices {
  display: flex;

  span {
    margin: 0 6rem 0 .5rem;
    width: 20px;
    display: inline-block;
  }
}

.range-slider {
  width: 200px;
  margin: auto 16px;
  text-align: center;
  position: relative;

}

.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 -1rem 2rem;


}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  top: 2px;
  margin-top: -7px;
}
