/*Zero style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

@media print {
  .isPrinting>* {
    display: none;
  }

  .isPrinting app-print-layout {
    display: block;
  }
}

:root {
  --first-color: #191919; //;#f0f2f5
  --second-color: #272727; //#ffffff;
  --text-color: #fff; // #000;
  --body-color: #000000;
  --primary-color: #c5081b;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;

  --button-hue: 2;
  --button-saturation: 92%;
  --button-lightness: 56%;
  //color: hsl(2, 56%, 56%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background .7s ease-in-out;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.2;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

.main-container {
  width: 100%;
  height: 100%;
}

.main-panel {
  background-color: var(--first-color);
  width: 80%;
  min-height: 100%;
  margin: 6rem auto;
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  border: 1px solid #888;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  display: block;
  min-width: 400px;

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
}

.form-control {
  display: block;
  color: #888;
  margin-bottom: .8rem;

  label {
    margin: 1rem 0 0 0;
    display: block;
    font-size: 1.5rem;
  }

  &.invalid {
    color: var(--primary-color);

    input {
      border-color: var(--primary-color);
      box-shadow: 0px 0px 4px 1px var(--primary-color);
    }
  }

  .validation {
    color: var(--primary-color);
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='url'],
select,
textarea {
  &.ng-touched.ng-valid {
    outline: 1px solid #08f700;
    box-shadow: 0px 0px 4px 1px #08f700;
  }

  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

.form-control_buttons {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 0;
}

.alert-auth {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--first-color);
  color: #333;
  text-align: center;
  font-size: 25px;

  >p {
    color: rgb(167, 3, 3);
  }
}

.btn {
  width: 110px;
  height: 35px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color);
  margin: 0 0.5rem;
  transition: all .2s ease;
  background-color: hsl(var(--button-hue), var(--button-saturation), var(--button-lightness));

  &:hover {
    --button-lightness: 40%;
  }

  &:active {
    --button-lightness: 24%;
  }

  &:disabled {
    color: #555455;
    background-color: hsl(300, 2%, 23%);
    cursor: not-allowed;
  }
}

.delete-product-button {
  width: 40px;
  background-color: rgb(126, 25, 25);

  & img {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: rgb(92, 19, 19);
  }
}

.top-bar {
  background-color: var(--second-color);
  padding: 0.5rem;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .top-bar_tittle {
    cursor: pointer;
    text-align: center;
    width: 530px;

    & a {
      & h1 {
        font-size: 45px;
        color: var(--text-color);
        transition: all .3s ease;

        & span {
          color: red
        }
      }

      & :hover {
        transform: scale(1.05);
      }
    }
  }

  h2 {
    font-size: 38px;
    color: var(--text-color);
    transition: all .3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .top-bar_icons {
    display: flex;
    width: 530px;
    height: 80px;
    margin-top: 1rem;
    justify-content: flex-end;

    & .top-bar_element {
      cursor: pointer;
      width: 60px;
      height: 60px;
      margin: 0 10px;
      text-align: center;

      & img {
        width: 40px;
        transition: transform .2s ease;
        transition: filter 2s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.main-footer {
  color: var(--text-color);
  width: 80%;
  min-height: 400px;
  margin: -3rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  strong {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
  }


  .main-footer_logo {
    width: 350px;

    & a {
      & h3 {
        font-size: 30px;
        color: var(--text-color);
        transition: all .3s ease;
        text-align: center;

        & span {
          color: red
        }
      }
    }
  }

  .main-footer_social-network {
    display: flex;
    flex-direction: column;
    width: 350px;

    .main-footer_social-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .social-circle {
      background-color: white;
      transition: all 0.5s ease-out;
      width: 35px;
      height: 35px;
      border-radius: 50px;
      overflow: hidden;
      margin: 10px;
      cursor: pointer;

      .img {
        width: 38px;
        height: 38px;
        margin: -1.5px 0 0 -1px;

        img {
          width: 100%;
          height: 100%;
          display: inline-block;
        }
      }

      .text {
        font-size: 20px;
        font-weight: bold;
        display: block;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 120px;
        height: 25px;
        margin: -30px 0 0 35px;
        text-decoration: none;
        color: #000;
        transition: all 0.4s ease-out;

        &:hover {
          letter-spacing: 1px;
        }
      }

      &:hover {
        width: 160px;
        transition: all 0.4s ease-out;
      }
    }
  }

  .main-footer_communication {
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;

    p {
      margin: 1rem 0;
    }

    a {
      color: var(--text-color)
    }
  }
}

.cart-wish_products {
  display: flex;
  flex-direction: column;

  & .cart-wish_products__product {
    margin-top: 1rem;
    width: 600px;
    height: 250px;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .cart-wish_products__product___picture {
      width: 200px;
      height: 200px;
    }

    & .cart-wish_products__product___info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      height: 200px;

      >span {
        font-size: 16px;
      }

      h2 {
        font-size: 20px;
      }

      p {
        color: black;
        font-size: 20px;
        font-weight: 900;

        :last-child {
          padding: 0 0 0 1.5rem;
        }
      }
    }
  }
}

.cart-wish_products__product___buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  justify-content: space-around;

  .cart-wish_products__product___buttons___circle-button {
    color: #000;
    display: flex;
    width: 100px;
    align-items: center;

    & .circle-button {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      font-size: 24px;
      margin: 0 5px;
      border: 2px solid black;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: rgba($color: #000000, $alpha: 0);
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        Background-color: rgba($color: #000000, $alpha: 0.2);
      }

      &:active {
        border: 2px solid #fff
      }
    }
  }

  .cart-wish_products__product___buttons___delete-add-button {
    display: flex;
  }
}

.main-products_filter {
  background-color: var(--second-color);
  width: 22%;
  color: var(--text-color);

  .main-products_filter__properties {
    margin: 2rem 0 2rem 0;

    & p {
      margin: 0 0 0 3rem;
    }

    & .main-products_filter__properties___property {
      padding: 1.5rem 0 0 3rem;

      & :first-child {
        margin: 0 0.5rem;
        cursor: pointer;
      }

      & :last-child {
        cursor: pointer;
      }
    }
  }
}

.main-products_list {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);

  .main-product_list_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem;
    padding: 0 3.5rem;

    & label {
      font-weight: bold;
      font-size: 17px;
      margin: 5px 1rem;
    }

    .list_header_selectCount {
      width: 90px;

      &.ng-touched.ng-valid,
      select.ng-touched.ng-valid,
      textarea.ng-touched.ng-valid {
        outline: none;
        box-shadow: none
      }
    }
  }

  .main-product_list_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    padding: 0 3.5rem;

    .change-list-btn {
      width: 35px;
      height: 35px;
      margin: .5rem;
      border: 2px solid #888;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: all .2s ease;

      &:hover {
        background-color: rgb(66, 66, 66);
      }

      &:active {
        background-color: rgb(46, 46, 46);
      }
    }
  }

  & .main-products_list__product {
    background-color: var(--second-color);
    margin: 0 0.5rem 1rem;
    width: 250px;
    height: 430px;
    text-align: center;

    & .main-products_list__product__link-detail {
      width: 16.5%;
      height: 50%;
      display: block;
      position: absolute;
      margin-top: -13px;
    }

    & .main-products_list__product___photo {
      width: 235px;
      height: 235px;
      margin: 1rem 0 3rem 0;

      & img {
        margin: 1rem auto;
        size: 100%;
      }
    }

    span {
      display: inline-block;
      margin: 1rem 0 0;
      padding: 0 2rem;
    }
  }

  & .main-product_list__product___price {
    transition: all .5s ease;
    overflow: hidden;
    height: 35px;
  }

  & .main-products_list__product___button {
    margin: 0.5rem 0;
    transition: all .5s ease;
    overflow: hidden;
    height: 0px;
    position: relative;
    color: var(--text-color);
  }
}

.wavy-loading {
  position: relative;
  margin-top: 15rem;

  span {
    position: relative;
    font-size: 2em;
    display: inline-block;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  }

  @keyframes animate {
    0% {
      transform: translateY(0px);
    }

    20% {
      transform: translateY(-20px);
    }

    40%,
    100% {
      transform: translateY(0px);
    }
  }
}

.range-slider {
  width: 200px;
  margin: auto 16px;
  text-align: center;
  position: relative;

}

.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 -1rem 2rem;
}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  top: 2px;
  margin-top: -7px;
}

.prices {
  display: flex;

  span {
    margin: 0 6rem 0 .5rem;
    width: 20px;
    display: inline-block;
  }
}

.color-invert {
  & img {
    filter: invert(1);
  }
}


.theme-switch {
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.theme-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: .4s;
}

.theme-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: 0px;
  background-color: #fff;
  transition: .4s;
}

input:checked+.theme-slider {
  background-color: #fff;
}

input:checked+.theme-slider:before {
  transform: translateX(26px);
  background-color: #000;
}

.theme-slider.theme-round {
  border-radius: 34px;
}

.theme-slider.theme-round:before {
  border-radius: 50%;
}
