//adaptive property

$maxWidth:1920;
$maxWidthContainer:1200; //1170;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  //smaller than container
  @if $type==1 {
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer -320}));
    }
  }

  //bigger than container
  @else if $type==2 {
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth -320}));
    }
  }

  //ever
  @else {
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth -320}));
  }
}

.some-block {
  @include adaptive-value('width', 200, 50, 3);
}

/*Zero style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

@media print {
  .isPrinting>* {
    display: none;
  }

  .isPrinting app-print-layout {
    display: block;
  }
}

:root {
  --first-color: #191919;
  --second-color: #272727;
  --third-color: #313131;
  --text-color: #fff;
  --other-text-color: #999999; //#4d4d53;
  --primary-color: #dc3545;
  --body-color: #000000;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --success-color: #28a745;
  --warning-color: #edf040;
  --danger-color: #dc3545;

  //red button prop bgcolor: hsl(2, 70%, 52%);
  --red-button-hue: 2;
  //blue button prop bgcolor: hsl(234, 70%, 52%);
  --blue-button-hue: 234;
  //green button prop bgcolor: hsl(234, 70%, 52%);
  --green-button-hue: 108;

  --button-saturation: 70%;
  --button-lightness: 52%;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background .7s ease-in-out;

}



html,
body {
  margin: 0;
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  line-height: 1.2;
  //min-height: 100%;

  ::-webkit-scrollbar {
    width: 10px;
  }


  ::-webkit-scrollbar-track {
    background: var(--third-color);

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  background-color: var(--body-color);
  color: var(--text-color);


}



.main-panel {
  background-color: var(--first-color);
  max-width: 1200px;
  min-height: 100vh;
  margin: 6rem auto 0;
  display: flex;
  @include adaptive-value('padding', 40, 2, 1);
  justify-content: space-between;
  align-items: flex-start;

  .title {
    font-weight: 500;
    font-size: 28px;
  }

}

.under-top-panel {
  padding: 1rem;
  margin: 90px auto 0;
  max-width: 1200px;
  min-height: 50px;
  background-color: var(--first-color);

  .wish-title {

    font-size: 35px;
  }

  &>.reset-btn {
    width: 110px;
    margin-left: 1rem;
  }
}




form {
  border: 1px solid #888;
  //max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  display: block;
  //min-width: 400px;
  @include adaptive-value('min-width', 400, 200, 1);

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
}

.active-route {
  display: block;
  //transform: translateY(20%);
  text-decoration: underline;
}

.form-control {
  display: block;
  color: var(--other-text-color);
  margin-bottom: .8rem;

  >label {
    margin: 1rem 0 0 0;
    display: block;
    font-size: 22px;
  }

  &.invalid {
    color: var(--primary-color);

    input {
      border-color: var(--primary-color);
      box-shadow: 0px 0px 4px 1px var(--primary-color);
    }
  }

  .validation {
    color: var(--primary-color);
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='url'],
input[type='search'],
select,
textarea {
  &.ng-touched.ng-valid {
    outline: 1px solid #08f700;
    box-shadow: 0px 0px 4px 1px #08f700;
  }

  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

.form-control_buttons {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 0;
}

.alert-auth {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--first-color);
  color: #333;
  text-align: center;
  font-size: 25px;
  height: 35px;

  >p {
    color: rgb(167, 3, 3);
  }
}

.btn {
  width: 110px;
  height: 35px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color);
  margin: 0 0.5rem;
  transition: all .2s ease;
  user-select: none;

  &:hover {
    --button-lightness: 40%;
  }

  &:active {
    --button-lightness: 35%;
  }

  &:disabled {
    color: #555455;
    background-color: hsl(300, 2%, 23%);
    cursor: not-allowed;
  }
}

.red-btn {
  background-color: hsl(var(--red-button-hue), var(--button-saturation), var(--button-lightness));
}

.blue-btn {
  background-color: hsl(var(--blue-button-hue), var(--button-saturation), var(--button-lightness));
}

.green-btn {
  background-color: hsl(var(--green-button-hue), var(--button-saturation), var(--button-lightness));
}

.delete-btn {
  width: 40px;

  & img {
    width: 30px;
    height: 30px;
  }
}

.reset-btn {
  background-color: rgba($color: #000000, $alpha: 0.0);
  color: var(--text-color);
  margin-left: 3rem;
  font-size: 16px;
  border: 1px solid var(--text-color);
  width: 150px;
  height: 40px;
  transition: all .3s ease;
  transition: all .4s;
  user-select: none;

  &:hover {
    background-color: rgba($color: #4e4e4e, $alpha: 1);
  }

  &:active {
    background-color: rgba($color: #2c2c2c, $alpha: 0.1);
  }
}

.close-btn {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 25px;
  height: 25px;
  background-color: rgba($color: #000000, $alpha: 0.0);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 1.8rem;
  user-select: none;

  &:active {
    background-color: rgba($color: #2c2c2c, $alpha: 0.1);
  }
}




.top-bar {
  background-color: var(--second-color);
  padding: 0.5rem;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .show-menu-btn {
    display: none;

    .menu-btn_burger {
      display: none;
    }
  }

  .top-bar_tittle {
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
    //width: 530px;


    &>a {
      &>h1 {
        font-size: 50px;
        font-weight: 500;
        color: var(--text-color);
        transition: all .3s ease;

        &>span {
          color: red
        }
      }

      & :hover {
        transform: scale(1.05);
      }
    }
  }

  .top-bar_admin {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


    a {

      h2 {
        font-size: 38px;
        transition: all .3s ease;
        color: var(--text-color);

        &:hover {
          transform: scale(1.05);
        }
      }

    }


  }


  .top-bar_icons {
    display: flex;
    width: 610px;
    height: 70px;
    margin-top: 1rem;
    justify-content: flex-end;

    .top-bar_element_search {
      cursor: pointer;
      width: 250px;
      height: 60px;
      margin: 0 10px;
      text-align: center;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;

      .btn-search-duplicate {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;


      }

      .search-input {

        & input {
          border-radius: .5rem;
          height: 2rem;
          padding: 0 0 0 .5rem;
          width: 150px;
          font-weight: 900;
          font-size: 1.2rem;
        }

      }

      .icon_search {
        left: 0;

      }
    }

    & .top-bar_element {
      cursor: pointer;
      width: 60px;
      height: 60px;
      margin: 0 10px;
      text-align: center;
      font-size: 17px;
      font-weight: 500;

      & img {
        width: 40px;
        transition: filter 2s, transform .2s;

        &:hover {
          transform: scale(1.2);
        }
      }



    }
  }
}

.show-menu-btn.open-burger {
  .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;

    &::before {
      transform: rotate(45deg) translate(24px, -24px);
    }

    &::after {
      transform: rotate(-45deg) translate(24px, 24px);
    }
  }
}



.show-menu-btn {
  //display: none;
  width: 28px; //50px
  height: 28px; //50px
  margin: 0 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  right: 10px;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;


  .menu-btn_burger {
    //display: none;
    width: 30px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 5px;
    transition: all .5s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: var(--text-color);
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }

    &::before {
      transform: translate(-15px, -12px);
    }

    &::after {
      transform: translate(-15px, 12px);
    }
  }

}




.main-footer {
  color: var(--text-color);
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  strong {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
  }


  .main-footer_logo {
    width: 350px;

    & a {
      & h3 {
        font-size: 30px;
        color: var(--text-color);
        transition: all .3s ease;
        text-align: center;

        & span {
          color: red
        }
      }
    }
  }

  .main-footer_social-network {
    display: flex;
    flex-direction: column;
    width: 350px;

    .main-footer_social-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .social-circle {
      background-color: white;
      transition: all 0.5s ease-out;
      width: 35px;
      height: 35px;
      border-radius: 50px;
      overflow: hidden;
      margin: 10px;
      cursor: pointer;

      .img {
        width: 38px;
        height: 38px;
        transform: translate(-2px, -2px);
        //margin: -2px 0 0 -1px;

        img {
          width: 100%;
          height: 100%;
          display: inline-block;
        }
      }

      .text {
        font-size: 20px;
        font-weight: bold;
        display: block;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 120px;
        height: 25px;
        margin: -30px 0 0 35px;
        text-decoration: none;
        color: #000;
        transition: all 0.4s ease-out;

        &:hover {
          letter-spacing: 1px;
        }
      }

      &:hover {

        width: 160px;
        transition: all 0.4s ease-out;
      }
    }
  }

  .main-footer_communication {
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;

    p {
      margin: 1rem 0;
    }

    a {

      color: var(--text-color)
    }
  }

  .main-footer_communication,
  .main-footer_social-network,
  .main-footer_logo {
    margin-bottom: 3rem;
  }
}

.cart-wish_products {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  & .cart-wish_products__product {
    margin-top: 1rem;
    //max-width: 600px;
    min-height: 250px;
    background: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;

    & .cart-wish_products__product___picture {
      width: 200px;
      height: 200px;
      margin-bottom: 1rem;
    }

    & .cart-wish_products__product___info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      height: 200px;

      >span {
        font-size: 16px;
      }

      h2 {
        font-size: 20px;
      }

      p {
        color: var(--text-color);
        font-size: 20px;
        font-weight: 500;

        :last-child {
          padding: 0 0 0 1.5rem;
        }
      }
    }
  }
}

.cart-wish_products__product___buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  justify-content: space-around;
  min-width: 100px;

  .cart-wish_products__product___buttons___circle-button {
    color: var(--text-color);
    display: flex;
    //width: 100px;
    align-items: center;
    font-size: 16px;

    & .circle-button {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      font-size: 24px;
      margin: 0 5px;
      border: 2px solid var(--text-color);
      cursor: pointer;
      transition: all 0.2s ease;
      background-color: rgba($color: #000000, $alpha: 0);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color);

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.3);
      }

      &:active {
        transform: scale(1.1);
      }
    }
  }

  .cart-wish_products__product___buttons___delete-add-button {
    display: flex;
  }
}

.main-products_filter {
  background-color: var(--second-color);
  max-width: 300px;
  color: var(--text-color);

  padding: 1rem;

  .main-products_filter__properties {
    margin: 2rem 0 2rem 0;
    user-select: none;

    .hide-btn {
      margin-top: 1rem;
      display: none;
    }



    .prices {
      margin: 0 0 0 2rem;
      font-size: 15px;
    }


    .main-products_filter__properties__title-btn {
      display: flex;
      margin: 0 0 0 2rem;
      font-weight: 500;
      font-size: 17px;
      justify-content: space-between;


      .hover-btn {
        margin-right: .5rem;

        &>img {
          width: 20px;
        }
      }
    }

    .hover-filter {
      overflow: hidden;
    }

    & .main-products_filter__properties___property {
      padding: 1rem 0 0 2rem;
      max-width: 220px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;


      .product-checkbox {
        transform: translateY(10%);
      }

      .product-checkbox-label {
        font-size: 15px;
        transition: all .4s;

        &:hover {

          color: rgb(139, 139, 139);
        }

        &:active {
          color: rgb(102, 102, 102);
        }
      }

      & :first-child {
        width: 1rem;
        height: 1rem;
        margin: 0 1rem;
        cursor: pointer;
      }

      & :last-child {
        cursor: pointer;
      }
    }
  }


}




.main-products_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-color);
  padding-left: 3rem;

  .main-product_list_header {
    width: 100%;
    height: 60px;
    position: relative;

    .list_header_container {
      top: 6px;
      position: absolute;
      right: 1.5rem;
    }

    & label {
      display: inline-block;
      font-weight: bold;
      font-size: 17px;
      margin: 5px 1rem;
    }

    & select {
      display: inline-block;
    }

    .list_header_selectCount {
      width: 90px;

      &.ng-touched.ng-valid,
      select.ng-touched.ng-valid,
      textarea.ng-touched.ng-valid {

        outline: none;
        box-shadow: none
      }
    }
  }

  .main-product_list_footer {
    @include adaptive-value('width', 800, 300, 1);
    display: flex;
    justify-content: center;


    .main-product_list_footer_buttons {
      max-width: 100%;
      height: 60px;
      display: flex;
      min-width: 0;
      min-height: 0;
      overflow: hidden;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem;
      //padding: 0 3.5rem;
      // overflow-x: scroll;
      // position: relative;





      .active {
        background-color: var(--text-color);
        color: var(--body-color);
      }



      .change-list-btn {

        //min-width: 35px;
        @include adaptive-value('min-width', 35, 28, 1);
        height: 35px;
        @include adaptive-value('margin', 8, 3, 1);

        border: 2px solid #888;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        transition: all .2s ease;
        user-select: none;


        &:hover {
          background-color: rgb(66, 66, 66);
        }

        &:active {
          background-color: rgb(46, 46, 46);
        }
      }

      .dynamic-footer_button_hide {
        display: none
      }

    }
  }



  & .main-products_list__product {
    background-color: var(--second-color);
    margin: 0 0.5rem 1rem;
    width: 250px;
    height: 430px;
    text-align: center;
    padding: 0 .5rem;
    overflow: hidden;
    position: relative;


    &>p {
      font-size: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &>small {
      font-size: 14px;
    }

    & .main-products_list__product__link-detail {
      width: 250px;
      height: 330px;
      position: absolute;
      z-index: 99;
      margin-left: -6px;
    }

    & .main-products_list__product___photo {
      width: 235px;
      height: 235px;
      margin: 1rem 0 3rem 0;

      & img {
        margin: 1rem auto;
        size: 100%;
      }
    }

    span {
      display: inline-block;
      margin: 1rem 0 0;
      padding: 0 2rem;
    }


    .hover-btn-price {
      display: none;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);

      &>img {
        width: 35px;
      }
    }
  }

  & .main-product_list__product___price {
    transition: all .5s ease;
    overflow: hidden;
    height: 35px;
    display: flex;
    flex-direction: row;

    justify-content: center;

    .usd,
    .uah {
      font-size: 18px;

      white-space: nowrap;

    }
  }

  & .main-products_list__product___button {
    margin: 0.5rem 0;
    transition: all .5s ease;
    overflow: hidden;
    height: 0px;
    position: relative;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
  }
}

.cart-wish_form {


  .form-control_price {
    margin: 1rem auto;
    font-size: 24px;
    text-align: center;
  }

  & h3 {
    text-align: center;
    //font-size: 25px; //34px;
    @include adaptive-value('font-size', 34, 25, 1);
    font-weight: 500;
  }

  color: var(--text-color);

  & input,
  select {
    margin-top: 4px;
  }
}

.no-order {
  & p {
    text-align: center;
    font-size: 24px;
  }
}

.no-product-after-filter {
  position: absolute;
  @include adaptive-value('left', 1100, 100, 3);
  top: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  .no-product-after-filter_img {
    @include adaptive-value('width', 180, 130, 1);

    &>img {
      width: 100%;
    }
  }

  &>p {
    @include adaptive-value('font-size', 25, 18, 1);
    margin: 2rem;
    text-align: center;
  }

  &>a {
    @include adaptive-value('font-size', 20, 15, 1);
    text-align: center;
    color: #2433c0;

    &:hover {
      color: #3246fc;
    }
  }

}

.wavy-loading {
  position: absolute;
  @include adaptive-value('left', 1100, 100, 3);
  top: 50%;

  span {
    position: relative;
    font-size: 2em;
    display: inline-block;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  }

  @keyframes animate {
    0% {
      transform: translateY(0px);
    }

    20% {
      transform: translateY(-20px);
    }

    40%,
    100% {
      transform: translateY(0px);
    }
  }
}

.range-slider {
  width: 200px;
  margin: auto 16px;
  text-align: center;
  position: relative;
}

.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 0rem 2rem;

}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  top: 2px;
  margin-top: -4px;
}

.prices {
  display: flex;

  span {
    margin: 1rem 6rem 0 .5rem;
    width: 20px;
    display: inline-block;
  }
}

.color-invert {
  & img {
    filter: invert(1);
  }
}


.theme-switch {
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  width: 51px;
  height: 26px;
}

.theme-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: .4s;
}

.theme-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: 0px;
  background-color: #fff;
  transition: .4s;
}

input:checked+.theme-slider {
  background-color: #fff;
}

input:checked+.theme-slider:before {
  transform: translateX(26px);
  background-color: #000;
}

.theme-slider.theme-round {
  border-radius: 34px;
}

.theme-slider.theme-round:before {
  border-radius: 50%;
}


.list-empty {
  width: 100%;
  margin: 6rem auto;
  text-align: center;

  &>p {
    @include adaptive-value('font-size', 35, 25, 1);
  }

  &>a {
    display: block;
    margin-top: 3rem;
    @include adaptive-value('font-size', 30, 20, 1);
    color: rgb(50, 70, 252);

    &:hover {
      color: rgb(36, 51, 192);
    }

    &:active {
      color: rgb(29, 41, 150);
    }
  }

}

.pictureEmpty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2rem;
    font-weight: 900;
  }
}

.create-form,
.edit-form {

  @include adaptive-value('max-width', 700, 290, 1);
  flex-wrap: wrap;

  display: flex;
  margin: 0 auto;

  justify-content: center;

  .form-choice-img {


    .form-img {
      @include adaptive-value('width', 378, 250, 1);
      @include adaptive-value('height', 378, 250, 1);



      &>img {
        width: 100%;
      }

    }
  }

  .form_characteristics {
    max-width: 100%;
    padding: 1rem 2rem;
    border-top: 1px solid blanchedalmond;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;





    .form-array-control {
      display: flex;
      flex-direction: row;

      p {

        font-size: 18px;
        margin-top: 1rem;
        text-align: center
      }

      .control-name {
        @include adaptive-value('width', 190, 80, 1);
      }

      .control-info {
        @include adaptive-value('width', 420, 196, 1);

        &>p {
          transform: translateX(-13%);
        }
      }

      .form_characteristics_characteristicOfInfo,
      .form_characteristics_characteristicOfName {
        &.invalid {
          color: var(--primary-color);

          input {
            border-color: var(--primary-color);
            box-shadow: 0px 0px 4px 1px var(--primary-color);
          }
        }

        .validation {
          color: var(--primary-color);
        }
      }
    }



    &>h3 {
      font-size: 1.5rem;
    }

    .form_characteristics_characteristicOfInfo,
    .form_characteristics_characteristicOfName {
      display: flex;
      flex-direction: row;

      &>label {
        margin-top: .8rem;
        font-size: 1.3rem;

      }

      &>input {
        margin: .5rem;

      }
    }
  }
}

.order {

  //@include adaptive-value('max-width', 1000, 300, 1);
  background-color: var(--second-color);
  max-width: 1000px;
  min-height: 250px;
  //max-width: 300px;
  font-size: 20px;
  margin-bottom: 1rem;
  position: relative;
  transition: box-shadow .5s ease-in;


  .order_user-product-info {
    //width: 100%;
    min-height: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    h3 {
      font-size: 18px;
      font-weight: bold;
    }

    .order_user {
      width: 50%;
      height: 100%;
      padding: 1rem 0 0 1rem;

      table {
        margin-left: 5rem;
        font-size: 1rem;
        // table-layout: fixed;
        width: 100%;

        tr {
          display: block;
          width: 100%;
          //margin-top: 1rem
        }

        th {
          text-align: start;
          width: 130px;


        }

        td {
          word-break: break-all;
          text-align: start;
          color: var(--other-text-color);

          &>a {
            color: var(--other-text-color);

            &:hover {
              color: rgb(119, 119, 119);
            }
          }

        }
      }
    }

    .order_products {
      width: 50%;
      height: 100%;
      padding: .5rem;
      font-size: 1.2rem;

      .scroll {
        margin-left: 3rem;
        max-width: 500px;
        overflow: auto;
        max-height: 70%;
        padding: 0 0 0 3rem;
        max-height: 190px;

        &>p {
          color: var(--other-text-color);
        }
      }
    }
  }

  .order-info {
    border-top: 2px solid #fff;
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: flex-end;

  }

  .order-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 180px;
    background-color: rgba($color: rgb(78, 78, 78), $alpha: 0.9);
    overflow: hidden;
  }




  .show-menu-btn {

    position: absolute;
    right: 0;
    top: 15px;
    //width: 40px;
    //height: 40px;
    // & img {
    //   width: 100%;
    // }
  }


}

.search-input-duplicate {
  display: none;

  .reset-btn {
    position: relative;
    margin: .5rem 0;
    width: 50px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.errors {
  color: var(--primary-color)
}

.alert-wrap {
  z-index: 999;
  position: fixed;
  top: 100px;
  @include adaptive-value('right', 190, 30, 1);
  //right: 30px; //right: 190px;
  max-width: 250px;
  background-color: white;
  height: 50px;
  text-align: center;
  padding: 1rem .5rem;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  padding: .5rem;

  align-items: center;


  .alert-wrap_img-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
    margin-right: .5rem;

  }

  &>p {
    margin: 0;
  }

}



.product-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;


  .product-detail_img {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-color);
    @include adaptive-value('width', 378, 280, 3);

    &>img {
      width: 100%;
    }
  }

  .info-about-product {
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      @include adaptive-value('font-size', 28, 19, 3);
      font-weight: bold;
      text-align: center;
    }

    >span {
      @include adaptive-value('font-size', 20, 16, 3);
      text-align: center;
    }

    p {
      @include adaptive-value('font-size', 24, 18, 3);
      text-align: center;

      span {
        padding: 0 0 0 6rem;
      }
    }

    .buttons {
      margin-top: 5rem;
      display: flex;
      min-width: 280px;
      justify-content: space-between;
    }
  }

  .product-detail_characteristics {
    @include adaptive-value('min-width', 900, 260, 3);
    margin: 5rem 0;
    min-height: 100%;
    overflow: hidden;
    padding: 0 5rem;

    .characteristic_table {
      @include adaptive-value('min-width', 400, 50, 3);

      display: flex;
      align-items: center;

      &>table {
        font-size: 1rem;
        table-layout: fixed;

        tr {
          display: block;
          width: 100%;
          margin-top: 1rem
        }

        th {
          text-align: start;
          width: 200px;
        }

        td {
          word-wrap: break-word;
          text-align: start;
          color: var(--other-text-color);
        }
      }
    }

    &>h3 {
      font-size: 1.5rem;
      text-align: center;
    }

    &::before {
      content: "";
      margin: 2rem auto;
      display: block;
      border-top: 2px solid var(--text-color);
    }
  }
}

.filter-show-btn {
  display: none;
  position: absolute;
  @include adaptive-value('left', 200, -20, 3);
  @include adaptive-value('width', 200, 100, 3);
  top: 5px;
}

@media(max-width:1200px) {

  .main-panel,
  .under-top-panel {
    max-width: 970px;
  }

  .order {
    min-width: 90%;
  }
}

@media(max-width:992px) {

  .main-panel,
  .under-top-panel {
    max-width: 750px;
  }

  .top-bar {
    .top-bar_tittle {
      width: 300px;

      a {
        h1 {
          font-size: 45px;
        }
      }
    }

    .top-bar_admin {
      left: 30%;
      top: -2px;

      a {
        h2 {
          font-size: 25px;
        }
      }
    }
  }

  .main-products_filter {
    transform: translateX(-100%);
    transition: all .5s ease;
    overflow: scroll;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 4px solid var(--first-color);

    .main-products_filter__properties {
      .hide-btn {
        margin-top: 1rem;
        display: block;
      }
    }

    .close-btn {
      display: block;
    }
  }

  .showEl {
    transform: translateX(0);
  }

  .main-products_list {
    justify-content: center;
    padding-left: 0;
    width: 100%;

    .main-products_list__product {
      .hover-btn-price {
        display: block;
      }
    }
  }

  .main-product_list_header {
    .filter-show-btn {
      display: block;

    }
  }

  .no-product-after-filter {
    left: 50%;
    transform: translateX(-50%);
  }

  .order {
    .order_user-product-info {
      .order_user {
        table {
          margin-left: 2rem;
        }
      }

      .order_products {

        .scroll {
          margin-left: 2rem;
        }
      }
    }

    .order-info {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }

    // .order-buttons {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-around;
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: 180px;
    //   height: 76%;
    //   background-color: rgba($color: rgb(78, 78, 78), $alpha: 0.9);
    //   overflow: hidden;
    // }




    // .menu-button {

    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: 40px;
    //   height: 40px;

    //   & img {
    //     width: 100%;
    //   }
    // }


  }
}

@media(max-width:767px) {
  .main-footer {
    flex-wrap: wrap;

    .social-circle {
      max-width: 35px;
      // &:hover {
      //   pointer-events: none;
      //   width: 10px;
      //   //transition: all 0.4s ease-out;
      // }

      //pointer-events: none;
    }
  }

  .main-panel,
  .under-top-panel {
    max-width: none;

    .wish-title {
      display: block;
      position: absolute;
      top: 170px;
      width: 100%;
      text-align: center;
      font-size: 30px;
      transform: translateX(-2%);
    }

    .title {
      font-size: 18px;
    }
  }

  .main-products_filter {
    transition: all .5s ease;
    transform: translateX(-100%);
    overflow: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .close-btn {
      display: block;
    }
  }

  .showEl {
    transform: translateX(0);
  }

  .top-bar {
    .show-menu-btn {
      display: flex;

      .menu-btn_burger {
        display: block;
      }
    }

    .top-bar_tittle {
      width: 200px;

      a {
        h1 {
          font-size: 35px;
        }
      }
    }

    .top-bar_admin {
      left: 50%;
      top: -2px;

      a {
        h2 {
          font-size: 25px;
        }
      }
    }

    .top-bar_icons {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      margin: 0;
      overflow: auto;
      position: absolute;
      z-index: 1000;
      top: 90px;
      background: var(--second-color);
      right: 0;
      padding: 1rem .5rem;
      transition: all .5s ease;
      transform: translateX(100%);

      .top-bar_element_search {
        .btn-search-duplicate {

          display: block;
        }
      }


      & .top-bar_element,
      .top-bar_element_search {
        margin-bottom: .5rem;
      }

      .top-bar_element_search {
        width: 60px;

        .search-input {
          display: none;
          max-width: 0;
        }
      }

    }

    .show_top-icons {
      transform: translateX(0);

    }
  }


  .main-products_list {
    .main-products_list__product {
      .hover-btn-price {
        display: block;
      }
    }
  }

  .search-input-duplicate {
    position: fixed;
    z-index: 1000;
    top: 0;
    display: block;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--first-color);
    transform: translateY(-100%);
    transition: all .5s ease;
  }

  .show-search {
    transform: translateY(0);
  }

  .product-detail {
    .product-detail_characteristics {
      padding: 0 1rem;
      margin: 0 0 3rem 0;

      .characteristic_table {
        table {
          th {
            width: 100px;
          }
        }
      }
    }

    .info-about-product {
      height: 200px;

      .buttons {
        margin-top: 0;
      }
    }
  }

  .cart-wish_products .cart-wish_products__product .cart-wish_products__product___info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
  }


  .create-form,
  .edit-form {

    .form_characteristics {

      .form-array-control {
        p {
          font-size: 15px;
        }
      }

      &>h3 {
        font-size: 1.1rem;
      }

      .form_characteristics_characteristicOfInfo,
      .form_characteristics_characteristicOfName {
        &>input {
          margin: .5rem 0.2rem;
        }
      }
    }
  }

  .order {
    max-width: 98%;

    .order_user-product-info {

      .order_user {
        min-width: 100%;
        padding: 1rem;

        table {
          margin-left: 1rem;
        }
      }

      .order_products {
        min-width: 100%;
        padding: 1rem;

        .scroll {
          margin-left: 1rem;
          padding: 0; //   max-height: 190px;
        }
      }
    }

    .order-info {
      padding: 1rem;
      flex-direction: column;
      font-size: 16px;
      align-items: center;
    }

    // .order-buttons {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-around;
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: 180px;
    //   height: 76%;
    //   background-color: rgba($color: rgb(78, 78, 78), $alpha: 0.9);
    //   overflow: hidden;
    // }




    // .menu-button {

    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: 40px;
    //   height: 40px;

    //   & img {
    //     width: 100%;
    //   }
    // }


  }


}
