/*Zero style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Lato';
  src: url('font/LatoBold.eot');
  src: local('☺'), url('font/LatoBold.woff') format('woff'), url('font/LatoBold.ttf') format('truetype'), url('font/LatoBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #000;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
}

.btn {
  width: 110px;
  height: 35px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  color: #ffff;
  margin: 0 0.5rem;
  transition: all 0.3s ease;
}

.main-panel {
  background-color: rgba($color: #323232, $alpha: 0.5);
  width: 80%;
  min-height: 100%;
  margin: 6rem auto;
  border: 2px outset rgba($color: #323232, $alpha: 0.5);
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  align-items: flex-start;
}


/////////////wish-list and cart syle
.cart-wish_products {
  display: flex;
  flex-direction: column;


  & .cart-wish_products__product {
    margin-top: 1rem;
    width: 600px;
    height: 250px;
    background: #272727;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .cart-wish_products__product___picture {
      width: 200px;
      height: 200px;
    }

    & .cart-wish_products__product___info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      height: 200px;

      >span {
        font-size: 16px;

      }

      h2 {
        font-size: 20px;
      }

      p {
        color: black;
        font-size: 20px;
        font-weight: 900;

        :last-child {

          padding: 0 0 0 1.5rem;
        }

      }
    }

  }
}

.cart-wish_products__product___buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  justify-content: space-around;

  .cart-wish_products__product___buttons___circle-button {
    color: #000;
    display: flex;
    width: 100px;
    align-items: center;

    & .circle-button {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      font-size: 24px;
      margin: 0 5px;
      border: 2px solid black;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: rgba($color: #000000, $alpha: 0);
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        Background-color: rgba($color: #000000, $alpha: 0.2);
      }

      &:active {
        border: 2px solid #fff
      }
    }
  }

  .cart-wish_products__product___buttons___delete-add-button {
    display: flex;

    .delete-product-button {
      width: 40px;
      background-color: rgb(126, 25, 25);

      & img {
        width: 30px;
        height: 30px;
      }

      &:hover {
        background-color: rgb(92, 19, 19);
      }
    }

    .add-to-cart-button {

      background: #215bb1;

      &:hover {
        background: #153b74;
      }

    }

  }

}


















.wish-list_button {
  background-color: rgb(60, 40, 172);

  &:hover {
    background-color: rgb(40, 27, 116);
  }
}
