<div class="top-bar">
  <div class="top-bar_tittle">
    <h1><span>Your</span> Store</h1>
    <p>The best apple shop </p>
  </div>

  <div class="top-bar_element">
    <a title="Search"><img src="assets/img/ico/search.png" alt=""></a>
    <small>Search</small>
  </div>

  <div class="top-bar_element">
    <a title="My Cart"><img src="assets/img/ico/wishlist.png" alt=""></a>
    <small>Wish list</small>
  </div>

  <div class="top-bar_element">
    <a title="My Cart"><img src="assets/img/ico/cart.png" alt=""></a>
    <small>My Cart</small>
  </div>
</div>
